<!DOCTYPE html>
<html>
  <head>
    <title>BlogOnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>


    <nav class="navbar d-flex justify-content-between" style="background-color: #F0F7FB;">
      <div >
        <a class="navbar-brand" href="/">Blog On Rails</a>
      </div>
      <div>
         <a class="navbar-brand" href="/posts">Home</a> 
         <a class="navbar-brand " href="/posts/new">New Post</a>
      </div>
    </nav>

    <%= yield %>
  </body>
  
</html>
