<!DOCTYPE html>
<html>
  <head>
    <title>BlogOnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <nav class="navbar d-flex justify-content-between p-4" style="background-color: #F0F7FB;">
      <div >
        <a class="navbar-brand" href="/">Blog On Rails</a>
      </div>
      <div>
         <a class="navbar-brand" href="/posts">Home</a> 
         <a class="navbar-brand " href="/posts/new">New Post</a>
        
      </div>
    </nav>    

    <%if(user_signed_in?) %>

      <div class="d-flex justify-content-between p-2" style="background-color: #D2FFFC;">
        <h2>Hello <%= link_to "#{current_user.first_name}", edit_user_path(current_user) %></h2>
        <%= button_to "Log out", sessions_path, method: :delete, class:"btn btn-primary" %>      
      </div>

    <% else %>

      <div class="d-flex justify-content-end" style="background-color: #D2FFFC;">
        <div class="p-1">
          <%= link_to 'Sign In Page', new_session_path%>        
        </div>
        <div class="p-1">
          <%= link_to 'Sign Up Page', new_user_path%>        
        </div>
      </div>

    <% end %>



    <% flash.each do |type, message| %>
      <div class="d-flex justify-content-center">
        <%= type + "-------" + message %>
      </div>
    <% end %>
    <hr>
    <%= yield %>
  </body>
  
</html>
